.detail .news-content {
  display: flex;
  justify-content: space-around;
  align-items: normal;
  flex-direction: row;
}

.detail .news-content .news-content__image {
  flex-shrink: 0;
  margin: 50px;
}

.detail .news-content .news-content__image .news-content__date-image {
  position: sticky;
  top: 20px;
}

.detail
.news-content
.news-content__image
.news-content__date-image
.main-image
.image {
  max-width: 650px;
  height: 425px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.detail
.news-content
.news-content__image
.news-content__date-image
.thumbnails-container {
  max-width: 650px;
  overflow-x: scroll;
  white-space: nowrap;
}

.detail
.news-content
.news-content__image
.news-content__date-image
.thumbnails-container
.thumbnails {
  display: flex;
  gap: 10px;
}

.detail
.news-content
.news-content__image
.news-content__date-image
.thumbnails-container
.thumbnails
.thumbnail {
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  height: 80px;
  cursor: pointer;
  object-fit: cover;
}

.detail
.news-content
.news-content__image
.news-content__date-image
.thumbnails-container
.thumbnails
.thumbnail:hover {
  opacity: 0.7;
}

.detail .news-content .news-content__detail {
  text-align: center;
  max-width: 700px;
  margin: 30px;
}

.detail .news-content .news-content__detail .news-content__text {
  font-size: 18px;
  line-height: 1.5;
  color: #6b6b6b;
  white-space: pre-line;
  text-align: justify;
}

.detail .news-content .news-content__image .news-content__date-image .image {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
  }