.main__news-container {
  margin-bottom: 0;
  padding: 0 0 30px 0;
  text-align: center;
  max-width: 100%;
}

.main__news-container .news-container-title {
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__news-container .news-container-title .news-title {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 1.2;
  color: #333;
  text-align: center;
}

.main__news-container .news-container-title .to-page-more {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
  text-align: center;
}

.main__news-container .news-container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__news-container .news-container-items .news-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #000;
  margin: 0 30px;
  padding: 20px;
  width: 22.5%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main__news-container
.news-container-items
.news-item
.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.main__news-container
.news-container-items
.news-item
.news-item-title {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: bold;
}

.main__news-container
.news-container-items
.news-item
.news-item-desc
.description {
  font-size: 18px;
  margin: 0;
  flex-grow: 1;
}

.main__news-container
.news-container-items
.news-item
.news-item-date-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.main__news-container
.news-container-items
.news-item
.news-item-date-btn
.date {
  font-size: 20px;
  font-weight: bold;
  margin-right: auto;
}

.main__news-container
.news-container-items
.news-item
.news-item-date-btn
.btn-more {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  text-decoration: none;
  border-radius: 100%;
  max-width: 70px;
}

.main__news-container
.news-container-items
.news-item
.news-item-date-btn
img {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  border-radius: 100%;
  max-width: 70%;
}

.main__news-container
.news-container-items
.news-item
.news-item-date-btn
img:hover {
  background-color: #7e7e7e;
}
