.main__content-container {
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  max-width: 100%;
}

.main__content-container .content-container-title-products {
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__content-container .content-container-title-products .products-title {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 1.2;
  color: #333;
  text-align: center;
}

.main__content-container .content-container-title-products .to-page-more {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
  text-align: center;
}

.main__content-container .content-container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__content-container .content-container-items .content-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #000;
  margin: 0 30px;
  padding: 20px;
  width: 22.5%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main__content-container
.content-container-items
.content-item
.content-item-image-label
.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.main__content-container
.content-container-items
.content-item
.content-item-image-label
.label-true,
.label-false {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #87e77f;
  color: #000;
  padding: 10px;
  font-size: 16px;
  z-index: 1;
  border-radius: 7px;
}

.main__content-container
.content-container-items
.content-item
.content-item-image-label
.label-false {
  background-color: #e77f7f;
}

.main__content-container
.content-container-items
.content-item
.content-item-title {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: bold;
}

.main__content-container
.content-container-items
.content-item
.content-item-desc
.characteristics-list {
  margin: 0;
  text-align: left;
}

.main__content-container
.content-container-items
.content-item
.content-item-desc
.characteristics-list
.characteristics {
  font-size: 18px;
}

.main__content-container
.content-container-items
.content-item
.content-item-desc
.description {
  font-size: 22px;
  margin: 0;
  flex-grow: 1;
}

.main__content-container
.content-container-items
.content-item
.content-item-price-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.main__content-container
.content-container-items
.content-item
.content-item-price-btn
.price {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

.main__content-container
.content-container-items
.content-item
.content-item-price-btn
.btn-more {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  text-decoration: none;
  border-radius: 100%;
  max-width: 70px;
}

.main__content-container
.content-container-items
.content-item
.content-item-price-btn
img {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  border-radius: 100%;
  max-width: 70%;
}

.main__content-container
.content-container-items
.content-item
.content-item-price-btn
img:hover {
  background-color: #7e7e7e;
}

.main__content-container
.content-container-title-products
.content-container-price-list
.price-list {
  font-size: 18px;
  padding: 8px 30px;
  color: #fff;
  background-color: #017ac3;
  border-radius: 10px;
  text-decoration: none;
}
