.detail .product-content {
  display: flex;
  justify-content: space-around;
  align-items: normal;
  flex-direction: row;
}

.detail .product-content .product-content__chars-img {
  flex-shrink: 0;
  margin: 50px;
}

.detail .product-content .product-content__chars-img .charactiristics-image {
  position: sticky;
  top: 20px;
}

.detail
.product-content
.product-content__chars-img
.charactiristics-image
.main-image
.image {
  max-width: 650px;
  height: 425px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.detail
.product-content
.product-content__chars-img
.charactiristics-image
.thumbnails-container {
  max-width: 650px;
  overflow-x: scroll;
  white-space: nowrap;
}

.detail
.product-content
.product-content__chars-img
.charactiristics-image
.thumbnails-container
.thumbnails {
  display: flex;
  gap: 10px;
}

.detail
.product-content
.product-content__chars-img
.charactiristics-image
.thumbnails-container
.thumbnails
.thumbnail {
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  height: 80px;
  cursor: pointer;
  object-fit: cover;
}

.detail
.product-content
.product-content__chars-img
.charactiristics-image
.thumbnails-container
.thumbnails
.thumbnail:hover {
  opacity: 0.7;
}

.detail
.product-content
.product-content__chars-img
.product-content__chars
.product-content__chars-table {
  width: 100%;
  border-collapse: collapse;
}

.detail
.product-content
.product-content__chars-img
.product-content__chars
.product-content__chars-table
th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.detail .product-content .product-content__detail {
  text-align: center;
  max-width: 700px;
  margin: 30px;
}

.detail .product-content .product-content__detail .product-content__text {
  font-size: 18px;
  line-height: 1.5;
  color: #6b6b6b;
  white-space: pre-line;
  text-align: justify;
}

.detail
.product-content
.product-content__chars-img
.product-content__chars
.product-content__chars-table
.even {
  background-color: #fff;
}

.detail
.product-content
.product-content__chars-img
.product-content__chars
.product-content__chars-table
.odd {
  background-color: #eee;
}