html,
body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  height: 100%;
  flex-direction: column;
}

/* body { */
/* -ms-overflow-style: none;  Для IE и Edge */
/* scrollbar-width: none;  Для Firefox */
/* } */

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% высоты экрана */
}

.header {
  background-color: #353535;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__info .logo-link .logo-icon {
  height: 11vh;
}

.header__info .header__about-us {
  max-width: 100%;
  padding-left: 5px;
}

.header__info .header__about-us .header__title {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #fff;
  text-align: left;
}

.header__info .header__about-us .header__description {
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  text-align: left;
}

.header__nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header__nav-menu .header__nav-menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__nav-menu .header__nav-menu-items .header__nav-link {
  margin: 0 25px;
}

.header__nav-menu .header__nav-menu-items .header__nav-link .nav-link {
  margin: 0 25px;
  padding: 0;
  text-decoration: none;
  color: #fff;
}

.header__nav-menu .header__nav-menu-items .header__nav-link .nav-link:hover {
  color: #9e9e9e;
}

.header__info-contacts .header__info-contacts-items {
  padding: 0;
  margin: 0;
  column-gap: 12px;
}

.header__info-contacts .header__info-contacts-items .header__info-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 12px;
}

.header__info-contacts
  .header__info-contacts-items
  .header__info-phone
  .phone-icon {
  width: 7%;
  height: 7%;
}

.header__info-contacts
  .header__info-contacts-items
  .header__info-phone
  .info-phone
  .phone {
  margin: auto;
  font-size: 20px;
  color: #fff;
}

.header__info-contacts
  .header__info-contacts-items
  .header__info-phone
  .info-phone
  .phone-desc {
  margin: 0;
  font-size: 12px;
  color: #fff;
}

.header__info-contacts .header__info-contacts-items .header__info-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 12px;
}

.header__info-contacts
  .header__info-contacts-items
  .header__info-email
  .email-icon {
  width: 7%;
  height: 7%;
}

.header__info-contacts .header__info-contacts-items .header__info-email .email {
  font-size: 20px;
  color: #fff;
}

.main__title {
  max-width: 100%;
  background-color: #017ac3;
}

.main__title p.title {
  margin: 0;
  font-family: "Roboto", serif;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  white-space: pre-line;
}

.main__content-container,
.main__news-container {
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  max-width: 100%;
}

.main__content-container .content-container-title-products,
.main__news-container .news-container-title {
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__content-container .content-container-title-products .products-title,
.main__news-container .news-container-title .news-title {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 1.2;
  color: #333;
  text-align: center;
}

.main__content-container .content-container-title-products .to-page-more,
.main__news-container .news-container-title .to-page-more {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
  text-align: center;
}

.main__content-container .content-container-items,
.main__news-container .news-container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__content-container .content-container-items .content-item,
.main__news-container .news-container-items .news-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #000;
  margin: 0 30px;
  padding: 20px;
  width: 22.5%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-image-label
  .image,
.main__news-container .news-container-items .news-item .image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-image-label
  .label-true,
.label-false {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #87e77f;
  color: #000;
  padding: 10px;
  font-size: 16px;
  z-index: 1;
  border-radius: 7px;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-image-label
  .label-false {
  background-color: #e77f7f;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-title,
.main__news-container .news-container-items .news-item .news-item-title {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: bold;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-desc
  .characteristics-list {
  margin: 0;
  text-align: left;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-desc
  .characteristics-list
  .characteristics {
  font-size: 18px;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-desc
  .description,
.main__news-container
  .news-container-items
  .news-item
  .news-item-desc
  .description {
  font-size: 24px;
  margin: 0;
  flex-grow: 1;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-price-btn,
.main__news-container .news-container-items .news-item .news-item-date-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-price-btn
  .price,
.main__news-container
  .news-container-items
  .news-item
  .news-item-date-btn
  .date {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-price-btn
  .btn-more,
.main__news-container
  .news-container-items
  .news-item
  .news-item-date-btn
  .btn-more {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  text-decoration: none;
  border-radius: 100%;
  max-width: 70px;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-price-btn
  img,
.main__news-container .news-container-items .news-item .news-item-date-btn img {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  border-radius: 100%;
  max-width: 70%;
}

.main__content-container
  .content-container-items
  .content-item
  .content-item-price-btn
  img:hover,
.main__news-container
  .news-container-items
  .news-item
  .news-item-date-btn
  img:hover {
  background-color: #7e7e7e;
}

.main__content-container
  .content-container-title-products
  .content-container-price-list
  .price-list {
  font-size: 18px;
  padding: 8px 30px;
  color: #fff;
  background-color: #017ac3;
  border-radius: 10px;
  text-decoration: none;
}

.main__about-us-container {
  margin: 5% 5% 2% 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.main__about-us-container .about-us-img {
  max-width: 100%;
  width: 500px;
  border-radius: 15px;
}

.main__about-us-container .main__about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 20px 0 50px 30px;
}

.main__about-us-container .main__about-us-text .title {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 1.2;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.main__about-us-container .main__about-us-text .description {
  font-family: serif;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
  text-align: left;
  margin-right: 10%;
}

.detail {
  max-width: 75%;
  margin: 40px auto;
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
}

.detail .detail__title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 40px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.detail .product-content,
.detail .news-content {
  display: flex;
  justify-content: space-around;
  align-items: normal;
  flex-direction: row;
}

.detail .product-content .product-content__chars-img,
.detail .news-content .news-content__image {
  flex-shrink: 0;
  margin: 50px;
}

.detail .product-content .product-content__chars-img .charactiristics-image,
.detail .news-content .news-content__image .news-content__date-image {
  position: sticky;
  top: 20px;
}

.detail
  .product-content
  .product-content__chars-img
  .charactiristics-image
  .main-image
  .image,
.detail
  .news-content
  .news-content__image
  .news-content__date-image
  .main-image
  .image {
  max-width: 650px;
  height: 425px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.detail
  .product-content
  .product-content__chars-img
  .charactiristics-image
  .thumbnails-container,
.detail
  .news-content
  .news-content__image
  .news-content__date-image
  .thumbnails-container {
  max-width: 650px;
  overflow-x: scroll;
  white-space: nowrap;
}

.thumbnails-container::-webkit-scrollbar {
  height: 8px; /* Высота ползунка */
}

.thumbnails-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Цвет ползунка */
  border-radius: 4px;
}

.thumbnails-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет ползунка при наведении */
}

.detail
  .product-content
  .product-content__chars-img
  .charactiristics-image
  .thumbnails-container
  .thumbnails,
.detail
  .news-content
  .news-content__image
  .news-content__date-image
  .thumbnails-container
  .thumbnails {
  display: flex;
  gap: 10px;
}

.detail
  .product-content
  .product-content__chars-img
  .charactiristics-image
  .thumbnails-container
  .thumbnails
  .thumbnail,
.detail
  .news-content
  .news-content__image
  .news-content__date-image
  .thumbnails-container
  .thumbnails
  .thumbnail {
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  height: 80px;
  cursor: pointer;
  object-fit: cover;
}

.detail
  .product-content
  .product-content__chars-img
  .charactiristics-image
  .thumbnails-container
  .thumbnails
  .thumbnail:hover,
.detail
  .news-content
  .news-content__image
  .news-content__date-image
  .thumbnails-container
  .thumbnails
  .thumbnail:hover {
  opacity: 0.7;
}

.detail
  .product-content
  .product-content__chars-img
  .product-content__chars
  .product-content__chars-table {
  width: 100%;
  border-collapse: collapse;
}

.detail
  .product-content
  .product-content__chars-img
  .product-content__chars
  .product-content__chars-table
  th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.detail .product-content .product-content__detail,
.detail .news-content .news-content__detail {
  text-align: center;
  max-width: 700px;
  margin: 30px;
}

.detail .product-content .product-content__detail .product-content__text,
.detail .news-content .news-content__detail .news-content__text {
  font-size: 18px;
  line-height: 1.5;
  color: #6b6b6b;
  white-space: pre-line;
  text-align: justify;
}

.detail
  .product-content
  .product-content__chars-img
  .product-content__chars
  .product-content__chars-table
  .even {
  background-color: #fff;
}

.detail
  .product-content
  .product-content__chars-img
  .product-content__chars
  .product-content__chars-table
  .odd {
  background-color: #eee;
}

.detail .news-content .news-content__image .news-content__date-image .image {
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

.container__privacy-policy .privacy-policy,
.container__user-agreement .user-agreement {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  white-space: pre-line;
  margin: 50px 10%;
  text-align: justify;
}

.footer {
  margin-top: auto;
  padding: 10px 0;
  background-color: #353535;
}

.footer .footer__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__top .footer__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__top .footer__info .logo-link .logo-icon {
  height: 11vh;
}

.footer__top .footer__info .footer__about-us {
  max-width: 100%;
  padding-left: 5px;
}

.footer__top .footer__info .footer__about-us .footer__title {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #fff;
  text-align: left;
}

.footer__top .footer__info .footer__about-us .footer__description {
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  text-align: left;
}

.footer__top .footer__nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 26px;
  list-style: none;
  margin-top: 25px;
  padding: 0;
  width: 100%;
}

.footer__top .footer__nav-menu .footer__nav-menu-items {
  margin: auto;
  padding: auto;
}

.footer__top .footer__nav-menu .footer__nav-menu-items .footer__nav-link {
  margin: 0 25px;
}

.footer__top
  .footer__nav-menu
  .footer__nav-menu-items
  .footer__nav-link
  .nav-link {
  margin: 0 25px;
  padding: 0;
  text-decoration: none;
  color: #fff;
}

.footer__top
  .footer__nav-menu
  .footer__nav-menu-items
  .footer__nav-link
  .nav-link:hover {
  color: #9e9e9e;
}

.footer__top .footer__info-contacts .footer__info-contacts-items {
  padding: 0;
  margin: 0;
  column-gap: 12px;
}

.footer__top
  .footer__info-contacts
  .footer__info-contacts-items
  .footer__info-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 16px 0;
  margin-top: 25px;
  column-gap: 12px;
}

.footer__top
  .footer__info-contacts
  .footer__info-contacts-items
  .footer__info-phone
  .phone-icon {
  width: 7%;
  height: 7%;
}

.footer__top
  .footer__info-contacts
  .footer__info-contacts-items
  .footer__info-phone
  .info-phone
  .phone {
  margin: 0;
  font-size: 20px;
  color: #fff;
}

.footer__top
  .footer__info-contacts
  .footer__info-contacts-items
  .footer__info-phone
  .info-phone
  .phone-desc {
  margin: 0;
  font-size: 12px;
  color: #fff;
}

.footer__top
  .footer__info-contacts
  .footer__info-contacts-items
  .footer__info-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 12px;
}

.footer__top
  .footer__info-contacts
  .footer__info-contacts-items
  .footer__info-email
  .email-icon {
  width: 7%;
  height: 7%;
}

.footer__top
  .footer__info-contacts
  .footer__info-contacts-items
  .footer__info-email
  .email {
  font-size: 20px;
  color: #fff;
}

.footer__top
  .footer__info-contacts
  .footer__info-contacts-items
  .footer__info-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 16px 0;
  margin-top: 25px;
  column-gap: 12px;
}

.footer__top
  .footer__info-contacts
  .footer__info-contacts-items
  .footer__info-address
  .address-icon {
  width: 7%;
  height: 7%;
}

.footer__top
  .footer__info-contacts
  .footer__info-contacts-items
  .footer__info-address
  .info-address
  .address {
  margin: 0;
  font-size: 20px;
  color: #fff;
}

.footer__top
  .footer__info-contacts
  .footer__info-contacts-items
  .footer__info-address
  .info-address
  .address-map {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  color: #fff;
}

.footer__bottom .copyright,
.privacy-policy,
.user-agreement {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}
