.container__privacy-policy .privacy-policy-title,
.container__user-agreement .user-agreement-title,
.container__delivery-and-payment .delivery-and-payment-title,
.container__our-contacts .our-contacts-title {
  font-size: 28px;
  text-align: center;
}

.container__privacy-policy .privacy-policy,
.container__user-agreement .user-agreement,
.container__delivery-and-payment .delivery-and-payment,
.container__our-contacts .our-contacts {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  white-space: pre-line;
  margin: 50px 10%;
  text-align: justify;
}
