<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Рувер-Авто</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', path='images/black.png') }}">
    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Open+Sans:wght@400;600&display=swap"/>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header__info">
          {% if content.logo %}
            <a href="/pages/main" class="logo-link">
              <img src="{{ url_for('static', path='images/' + content.logo|string +'.png') }}" alt="Рувер-Авто" class="logo-icon">
            </a>
          {% endif %}
          <div class="header__about-us">
            {% if content.header_title %}
              <h1 class="header__title">{{ content.header_title }}</h1>
            {% endif %}
            {% if content.header_desc %}
              <p class="header__description">{{ content.header_desc }}</p>
            {% endif %}
          </div>
        </div>
        <ul class="header__nav-menu">
          <li><a href="#" class="header__nav-link" class:name={condition}>Товары</a></li>
          <li><a href="#" class="header__nav-link">Новости</a></li>
          <li><a href="#" class="header__nav-link">Доставка и оплата</a></li>
          <li><a href="#" class="header__nav-link">Контакты</a></li>
        </ul>
        <ul class="header__info-contacts">
          <li class="header__info-phone">
            {% if content.phone %}
              <img src="{{ url_for('static', path='images/phone.png') }}" alt="phone-icon" class="phone-icon">
              <div class="info-phone">
                <h1 class="phone">{{ content.phone }}</h1>
                <p class="phone-desc">Звонок по России бесплатный</p>
              </div>
            {% endif %}
          </li>
          <li class="header__info-email">
            {% if content.email %}
              <img src="{{ url_for('static', path='images/email.png')}}" alt="email-icon" class="email-icon">
              <h2 class="email">{{ content.email }}</h2>
            {% endif %}
          </li>
        </ul>
      </div>
    </header>
    <main>
      {% block main %} {% endblock main %} 
      {% block content %} {% endblock content %}
    </main>

    <div class="footer">
      <div class="footer__info">
        {% if content.logo %}
          <img src="{{ url_for('static', path='images/' + content.logo|string +'.png') }}" alt="Рувер-Авто" class="logo-icon">
        {% endif %}
        <div class="footer__about-us">
          {% if content.header_title %}
            <h1 class="footer__title">{{ content.header_title }}</h1>
          {% endif %}
          {% if content.header_desc %}
            <p class="footer__description">{{ content.header_desc }}</p>
          {% endif %}
        </div>
      </div>
      <ul class="footer__nav-menu">
        <li><a href="#" class="footer__nav-link" class:name={condition}>Товары</a></li>
        <li><a href="#" class="footer__nav-link">Новости</a></li>
        <li><a href="#" class="footer__nav-link">Доставка и оплата</a></li>
        <li><a href="#" class="footer__nav-link">Контакты</a></li>
      </ul>
      <ul class="footer__info-contacts">
        <li class="footer__info-phone">
          {% if content.phone %}
            <img src="{{ url_for('static', path='images/phone.png') }}" alt="phone-icon" class="phone-icon">
            <div class="info-phone">
              <h1 class="phone">{{ content.phone }}</h1>
              <p class="phone-desc">Звонок по России бесплатный</p>
            </div>
          {% endif %}
        </li>
        <li class="footer__info-email">
          {% if content.email %}
            <img src="{{ url_for('static', path='images/email.png')}}" alt="email-icon" class="email-icon">
            <h2 class="email">{{ content.email }}</h2>
          {% endif %}
        </li>
      </ul>
  </body>
</html>
