{% extends "base.html" %} 

{% block main %}
<div class="main__title">
  {% if content.main_desc %}
    <p class="title">{{ content.main_desc }}</p>
  {% endif %}
</div>
<div class="main__content-container">
  <div class="content-container-title-products">
    {% if content.products_title %}
      <h2 class="content-container-title">{{ content.products_title }}</h2>
      <a href="#" class="to-page-more">Смотреть все</a>
    {% endif %}
  </div>
  <div class="content-container-items">
    {% for product in products %}
      {% if product.is_active is true %}
        <div class="content-item">
          {% if product.image_name %}
            <img src="{{ url_for('static', path='images/' + product.image_name|string + '.webp')}}" alt="Фото продукта">
          {% else %}
            <img src="{{ url_for('static', path='images/coming_soon.webp')}}" alt="Фото продукта">
          {% endif %}
          <h3>{{ product.name }}</h3>
          <p>{{ product.short_description }}</p>
          <a href="/pages/products/{{ product.id }}" class="btn-more">
            <img src="{{ url_for('static', path='images/btn.png') }}" alt="Подробнее" class="btn-more-img">
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="main__about-us-container">
  {% if content.about_us_image %}
    <img src="{{ url_for('static', path='images/' + content.about_us_image|string + '.png') }}" alt="О компании" class="about-us-img">
  {% endif %}
  <div class="main__about-us-text">
    {% if content.about_us_title %}
      <p class="title">{{ content.about_us_title }}</p>
    {% endif %}
    {% if content.about_us_desc %}
      <p class="description">{{ content.about_us_desc }}</p>
    {% endif %}
  </div>
</div>
{% endblock main %}