{% extends "base.html" %} 

{% block main %}
<div class="main-content">
  <h1>ООО "Рувер-Авто"</h1>
  <p class="description">
    Продажа б/у грузовой, строительной техники, прицепов полуприцепов, выкуп
    автомобилей Урал.
  </p>
</div>
<section class="products">
  <div class="container">
    <h2>Продукты</h2>
    <div class="product-list">
      {% for product in products %}
        <div class="product-item">
          <img src="{{ url_for('static', path='images/' + product.image_id|string + '.webp') }}" alt="Фото продукта">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description[:100] }}</p>
          <a href="/pages/products/{{ product.id }}" class="btn-more">Подробнее</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock main %}
