{% extends "base.html" %}

{% block detail %}
<div class="detail">
  {% if news.title %}
    <h1 class="detail__title">{{ news.title }}</h1>
  {% endif %}
  <div class="news-content">
    <div class="news-content__image">
      <div class="news-content__date-image">
        {% if news.news_image_name %}
          <img class="image" src="{{ url_for('static', path='images/' + news.news_image_name|string)}}" alt="Изображение новости">
        {% else %}
          <img src="{{ url_for('static', path='images/coming_soon.webp')}}" alt="Изображение новости">
        {% endif %}
        <div class="news-content__date">
          {% if news.date_of_the_news %}
            <h3 class="date">Дата публикации: {{ news.date_of_the_news }}</h3>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="news-content__detail">
      {% if news.description %}
        <p class="news-content__text">{{ news.description }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock detail %}