{% extends "base.html" %} 

{% block main %}
<div class="main__title">
  {% if content.main_desc %}
    <p class="title">{{ content.main_desc }}</p>
  {% endif %}
</div>

<div class="main__news-container">
  <div class="news-container-title">
    {% if content.news_title %}
      <h2 class="news-title">{{ content.news_title }}</h2>
      <a href="#" class="to-page-more">Смотреть все</a>
    {% endif %}
  </div>
  <div class="news-container-items">
    {% for news in all_news %}
      {% if news.is_active is true %}
        <div class="news-item">
          {% if news.news_image_name %}
            <img src="{{ url_for('static', path='images/' + news.news_image_name|string)}}" alt="Фото продукта" class="news-item-img">
          {% else %}
            <img src="{{ url_for('static', path='images/coming_soon.webp')}}" alt="Фото продукта" class="news-item-img">
          {% endif %}
          <div class="news-item-title">
            {% if news.title %}
              <h3>{{ news.title }}</h3>
            {% endif %}
          </div>
          <div class="news-item-desc">
            {% if news.short_description %}
              <p class="description">{{ news.short_description }}</p>
            {% endif %}
          </div>
          <div class="news-item-date-btn">
            {% if news.date_of_the_news %}
              <p class="date">{{ news.date_of_the_news }}</p>
            {% endif %}
            <a href="/pages/news/{{ news.id }}" class="btn-more">
              <img src="{{ url_for('static', path='images/btn.png') }}" alt="Подробнее" class="btn-more-img">
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock main %}