{% extends "base.html" %}

{% block content %}
<div class="detail">
  <h2 class="detail__title">Подробная информация о продукте</h2>
  <div class="product-content">
    <div class="product-img">
      {% if product.image_name %}
        <img src="{{ url_for('static', path='images/' + product.image_name|string + '.webp')}}" alt="Фото продукта">
      {% else %}
        <img src="{{ url_for('static', path='images/coming_soon.png')}}" alt="Фото продукта">
      {% endif %}
    </div>
    <div class="product-detail">
      <h1 class="product-name">{{ product.name }}</h1>
      <p class="product-description">{{ product.description }}</p>
    </div>
  </div>
  <div class="product-characteristics">
    <ul>
      <h3 class="characteristics-title">Характеристики</h3>
      <br>
      {% for characteristic in product.characteristics %}
        <li class="product-characteristic">
          <strong>{{ characteristic.name_of_characteristic }}:</strong>
          {{ characteristic.value_of_characteristic }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}